/*
Theme Name:   	Storefront Child Theme
Theme URI:    	#
Author:       	Thach Pham
Author URI:     http://thachpham.com
Template:     	storefront
Description:  	Một child theme trống hoàn toàn dành cho Storefront, dùng để tùy biến lại theme storefront mà không bị mất khi update
Version:      	1.0.0
License:      	GNU General Public License v2 or later
License URI:  	http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  	storefront
*/

code {
    background-color: #FFF;
}

pre {
    background-color: #FFF;
    padding-top: 0px;
}

.hentry {
    margin: 0px;
}
